*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #B4A9A9;
    font-family: 'Poppins', sans-serif;
}
h1{
    padding: 2vw 0vw;
}
#note{
    height: 37vw;
    display: flex;
}
#notepad
{
 width: 92%;
 height: 820px;
 border: 1px solid black;
 font-size: 1.5vw;   
}
.toolkit{
    display: flex;
    flex-direction: column;
}
img{
    width: 80px;
    height: 80px;
}
img:hover{
    transform: scale(0.8);
    cursor: pointer;
}
.tool{
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
/*.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}*/
@media only screen and (max-width:1300px)
{
    #note{
        flex-direction: column;
    }
    #notepad{
        width: 100%;
        min-height:40vh;
    }
    .toolkit{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .tool{
        height: auto;
        width: 200px;
        margin-top: 1vmax;
    }
    img{
        width: 8vw;
        height: auto;
    }
    html{
        max-height: fit-content;
    }
}