*{
    margin: 0 0;
    padding: 0 0;
}

section{
  background-color: #E0D0D0;
  height: 80%;
}

ul{
  list-style: none;
}

header{
    background-color: #B4A9A9;
    font-family: 'Poppins', sans-serif;
    height: 10%;
}

h1{
    padding: 2vw;
    text-align: center;
}

#nls{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#nls > li{
  margin: 1rem;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn, .button-43 {
  /*background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);*/
  background-color: black;
  font-family: 'Poppins', sans-serif;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 16vw;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.btn-primary {
  background-color: #37AE00
}

.button-43:hover {
  transform: scale(1.1);
}

.ftr{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  display: flex;
  font-size: 1.5vw;
  background-color: #B4A9A9;
  position: fixed;
  bottom: 0;
}

a{
  text-decoration: none;
}


@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
  }

@media only screen and (max-width:1725px)
{
  html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
}